body {
}

.headerBg {
    background-color: lightcyan;
}

.left-padded {
    /* when placing elements, after text, use left-padded instead of &nbsp; */
    margin-left: 10px;
}

.top-padded {
    /* when placing elements, after text, use top-2padded instead of <br/><br/> */
    margin-top: 10px;
}

.top-2padded {
    /* when placing elements, after text, use top-2padded instead of <br/><br/><br/> */
    margin-top: 30px;
}

.top-3padded {
    /* when placing elements, after text, use top-3padded instead of <br/><br/><br/><br/><br/> */
    margin-top: 50px;
}

.error {
    font-size: 8pt;
    color: #8b0710;
}

/* for styling of file inputs (not included in bootstrap) */
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
